header {
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, darkblue, purple, crimson);
  font-family: "Roboto", sans-serif;
  color: #ddd;
  position: fixed;
  top: 0;
}
