section {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vw;
}

section > div {
    width: 100%;
    height: max-content;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0px 0px 20px 0px;
}

a {
    margin-bottom: 5px;
}

label {
    margin-bottom: 5px;
}

form > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0px 15px 0px;
}