<section>
    <div>
        <h1>Sign Up</h1>
        <form>
            <div>
                <label for="name">username: </label>
                <input name="name" type="text" />
            </div>
            <div>
                <label for="email">email: </label>
                <input name="email" type="text" />
            </div>
            <div>
                <label for="password">password: </label>
                <input name="password" type="password" />
            </div>
            <div>
                <label for="passwordConfirmation">password confirmation: </label>
                <input name="passwordConfirmation" type="password" />
            </div>
            <div>
                <a href="/">I already have an account.</a>
                <button type="submit">register</button>
            </div>
        </form>
    </div>
</section>