<section>
    <div>
        <h1>Sign Up</h1>
        <form #form="ngForm" (submit)="onSubmit(form)">
            <div>
                <label for="name">username: </label>
                <input [(ngModel)]="user.username" name="username"  type="text" />
            </div>
            <div>
                <label for="email">email: </label>
                <input [(ngModel)]="user.email" name="email" type="text" />
            </div>
            <div>
                <label for="password">password: </label>
                <input [(ngModel)]="user.password" name="password" type="password" />
            </div>
            <div>
                <label for="passwordConfirmation">password confirmation: </label>
                <input [(ngModel)]="user.passwordConfirmation" name="passwordConfirmation" type="password" />
            </div>
            <div>
                <a href="/">I already have an account.</a>
                <button type="submit">register</button>
            </div>
        </form>
    </div>
</section>