.top-section {
    max-height: 150px;
    height: fit-content;

    max-width: calc(100% - (2 * 25px));
    width: 100%;

    margin-left: 5px;
    margin-right: 5px;

    padding: 20px;

    border: 1px solid black;
    border-radius: 5px;

    font-family: 'Roboto';

    background-color: white;
}

.top-section>h1 {
    font-size: 40px;
}

.top-section>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
    margin-bottom: 20px;
}

.top-section>div>div>* {
    margin-top: 5px;
}

.top-section>div>div>a {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-image: linear-gradient(to bottom right, darkblue, purple, crimson);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-section>div>div>a>img {
    max-width: 20px;
    max-height: 20px;
    margin-left: 10px;
}

.todo-section {
    width: 100vw;
}

@media screen and (min-width: 400px) {
    .todo-section {
        width: 75%;
    }
    .top-section {
        width: calc(75% - (2 * 25px));
    }
}

.wrapper {
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}