<section class="login-page">
    <div class="login-form-container">
        <h1>Sign in</h1>
        <form class="login-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <label for="">email: </label>
            <input type="email" name="email" [(ngModel)]="model.email" required/>
            <label for="password">password: </label>
            <input type="password" name="password" [(ngModel)]="model.password" required/>
            <div *ngIf="errorMessage" class="error-message-box">{{ errorMessage }}</div>
            <button type="submit">sign in</button>
        </form>
    </div>
</section>